.dashboard-Analytics{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.left-side-Analytics{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 14px;
  }
  
  .row-one-Analytics{
    margin-top: 22px;
  }
  .row-two-Analytics{
    display: flex;
    gap: 20px;
    margin-top: -18px;
  }
  .row-three-Analytics{
    display: flex;
    gap: 20px;
    margin-top: 22px;
  }
  .row-one-card-one-Analytics {
    padding: 20px;
    width: 639px;
    border-radius: 7px;
    background-color: rgb(240, 228, 228);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 277px;
  }
  .card-Analytics{
    flex: 1;
    padding: 20px;
    height: 190px;
    width: 200px;
    gap: 20px;
    background-color: #c1bbe6;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .row-three-card-Analytics{
    flex: 1;
    padding: 20px;
    height: 202px;
    width: 200px;
    gap: 20px;
    background-color: #D8D3F8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
.bars{
  margin-left: 11px;
}
.left-down{
  display: flex;
}

.circle{
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 47px;
    margin-top: -11px;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Details-user{
    font-weight: lighter;
}
.card-Analytics:hover{
    transform: scale(1.1);
}
.Additional{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}
.Additional-row-one{
    display: flex;
    gap: 20px;
    margin-left: 4px;
}
.Additional-row-two{
    display: flex;
    gap: 20px;
}

/* .right-side-Analytics{
    height: 400px;
    width: 400px;
    background-color: aliceblue;
} */