.sidebar-container {
    height: calc(100% - 40px);
    background-color: #6A58DC;
    width: 80px;
    margin: auto 0;
    padding: 16px 0;
    align-self: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    position: fixed;
}

.sidebar-logo {
    width: 100%
}

.sidebar-profile {
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50%;
}

.side-bar-icons {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.side-bar-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 16px;
    transition: background-color 0.5s;
}

.side-bar-icons a:hover {
    background-color: white;
}

.side-bar-icons a:hover svg {
    stroke: #6A58DC;
}



@media (max-width: 430px) {
    .sidebar-container {
        flex-direction: row;
        height: 50px;
        max-height: 50px;
        width: calc(100% - 40px);
        gap: 0px;
        margin-right: 0;
        margin: 0 auto;
        bottom: 16px;
    }

    .care-dashboard-tab1 {
        font-size: 16px;
    }

    .care-dashboard-tab2 {
        font-size: 16px;
    }

    .side-bar-icons {
        flex-direction: row;
        gap: 0px
    }

    .sidebar-logo {
        width: 50px;
    }

    .sidebar-profile {
        width: 30px;
        height: 30px;
        margin-right: 16px;
    }
}