* {
  /* margin: 1px; */
  text-decoration: none;
}
.nav-bar {
  position: relative;
  z-index: 999;
}
/* --------------css of Home page------------------- */

.main1 {
  display: flex;
  color: black;
  /* margin: 2px; */
  /* width: 100vw; */
  min-height: 100vh;
  overflow: hidden;
}

.main1 .pages {
  width: 100%;
  padding: 0.55vw;
  padding-left: 8vw;
}
.header {
  display: flex;
  justify-content: start;
  gap: 1vw;
  /* height: 30vh; */
}
#card1 {
  width: 40%;
  height: 30vh;
  background-color: #dad4f7;
  max-height: 180px;
  border-radius: 30px;
  /* margin: 5px; */
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15),
    -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
#heading div:nth-child(1) {
  width: 55%;
}
#heading div:nth-child(1) h3 {
  font-size: 1.5rem;
}
#card2 {
  max-height: 180px;
  width: 30%;
  /* max-width: 300px; */
  height: 30vh;
  background-color: #cdc8f5;
  border-radius: 30px;
  /* margin: 5px; */
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15),
    -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
#care-profile div:nth-child(1) {
  width: 4vw;
  height: 4vw;
  margin-top: 0;
}
#card3 {
  max-height: 180px;
  height: 30vh;
  width: 30%;
  /* flex: 1; */
  background-color: #cdc8f5;
  border-radius: 30px;
  /* margin: 5px; */
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15),
    -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
#card3 > p{
  font-size: 1rem;
  text-align: center;
  margin: auto;
}
#heading {
  /* display: flex; */
  /* margin-top: 3px; */
  color: black;
  position: relative;
}
#heading img {
  height: 100%;
  width: 100%;
}
#heading p {
  font-size: 0.75rem;
  opacity: 0.75;
}
.card-title {
  background-color: #6a58dc;
  font: bolder;
  color: white;
  padding: 3px;
  margin-bottom: 0;
}
.card-title h6 {
  padding: 2px 1rem;
}
#care-profile {
  display: flex;
  justify-content: center;
  /* margin-top: -25px; */
  width: 100%;
  align-items: center;
  flex-direction: row;
  gap: 2vw;
}
#care-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: whitesmoke;
}
.progressBar-container {
  display: flex;
}
#care-profile p {
  font-size: 15px;
}

#careTaker-Deatils {
}
.accordion-body {
  display: flex;
  justify-content: space-around;
  background-color: #f2f1f9;
}
.row-one-chart {
  display: grid;
}
.row-one-chart .chart {
  width: 132px;
  height: 62px;
}
.row-two-chart {
  display: grid;
}
.row-two-chart .chart {
  width: 132px;
  height: 62px;
}
.accordion-body .card {
  border-radius: 20px;
}
.accordion-body .card #circular-chart {
  display: grid;
  justify-content: center;
}
.imgconatiner {
  width: 53%;
  height: 100%;
  position: absolute;
  right: -40px;
  bottom: 0;
}
#care-progress .card-body {
  width: 200px;
}
.accordion-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.85rem;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  position: relative;
}
.acc-img {
  width: 15%;
}
.acc-img img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.accordion-button button:last-child {
  width: 15%;
  /* max-width: 130px; */
  font-size: 0.75rem;
  font-weight: 600;
}
#getAssign {
  align-content: flex-end;
}
#toAssign {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  background-color: #f2f1f9;
}
.sidebar {
  background-color: #6a58dc;
  width: 50px;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-radius: 20px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.icon {
  margin-right: 5px;
}
.line {
  margin: 20px;
}
.line h2 {
  font-weight: 700;
}
#home-content {
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f1f9;
  gap: 1vw;
  width: 100%;
  height: 40vh;
  max-height: 300px;
  padding: 1vw;
  align-items: center;
}
/* .home-col-one {
  display: grid;
} */
.home-col-one {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 85%;
  max-width: 300px;
  gap: 8px;
}
.home-row-one {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 8px;
}
.home-row-one .card {
  background-color: #ded1ef;
  /* margin-right: 10px; */
  width: 100%;
}
.home-row-one .card .card-body {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
/* .card-body div div{
  width: 50px !important;
  height: 50px !important;
} */
#dis {
  font-size: 1vw;
}
.home-row-two {
  display: flex;
}
.home-row-two .card {
  background-color: #ded1ef;
  margin-right: 10px;
}
.home-row-two .card .card-body {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px 0px 20px;
}
/* .home-col-two .card .card-body {
  width: 250px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
} */
.home-col-three .card .card-body {
  width: 220px;
}
.home-col-four .card .card-body {
  width: 220px;
}
.nav {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #6a58dc;
  border-radius: 20px;
  padding-top: 5px;
  justify-content: space-around;
}
.nav-link strong {
  color: black;
  font-size: 1rem;
}

/* .nav button{
    background-color: #6a58dc;
    
  } */
.profile-heading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.85rem;
  text-decoration: none;
  margin-bottom: 2vh;
}
/* .dummy-div {
  width: 15%;
} */
.main-profile-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.ass-user-detail {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  width: 70%;
}

.ass-user-detail div {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  overflow: overlay;
}

.ass-user-detail div:first-child {
  width: 30%;
}

.accordion-item {
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  /* margin-left: auto; */
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
  position: absolute;
  right: 1vw;
}


.home-col-two {
  width: 23%;
  max-width: 400px;
  height: 85%;
}
.home-col-two .card {
  width: 100%;
  height: 100%;
}
/* #home-content .home-col-two:nth-child(2) .card-body div:first-child {
  font-size: 1rem;
  color: rgb(106, 88, 220);
} */

.home-col-two h5 {
  font-size: 1rem;
  margin-bottom: 1vh;
  font-weight: 600;
}

.home-col-one .card-body div:first-child div {
  width: 4vw !important;
  height: 4vw !important;
}

#caretaker-action-btns {
  display: flex;
  gap: 1vw;
  width: 15%;
}
#caretaker-action-btns button {
  width: 50%;
  font-size: 0.75em;
  font-weight: 600;
}

#care-nav-left {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  width: 70%;
}

#care-nav-left div {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#caretaker-action-btns {
  display: flex;
  gap: 1vw;
  width: 15%;
}
#caretaker-action-btns button {
  width: 50%;
  font-size: 0.75em;
  font-weight: 600;
}

.model-content {
  margin-top: 0 !important;
  margin-left: 0 !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
}
