* {
  /* margin: 1px; */
  text-decoration: none;
}
.nav-bar {
  position: relative;
  z-index: 999;
}
/* --------------css of Home page------------------- */

.main1 {
  display: flex;
  color: black;
  margin: 2px;
  
}
.main1 .pages {
  padding-left: 100px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  width:100%
}
#card1 {
  width: 37%;
    height: 200px;
    background-color: #dad4f7;
    border-radius: 30px;
    margin: 5px;
    overflow: hidden;
    box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}

#card2 {
  width: 31%;
  height: 200px;
  background-color: #cdc8f5;
  border-radius: 30px;
  margin: 5px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15),
    -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
#card3 {
  width: 20%;
  height: 200px;
  flex: 1;
  background-color: #cdc8f5;
  border-radius: 30px;
  margin: 5px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15),
    -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
#heading {
  display: flex;
    justify-content: space-around;
    color: black;
    width: 100%;
    padding: 0px;
    flex-direction: row;
    margin-top: -5%;
    margin-left: 0px;
}
#heading .welcome{
  width: 124%;
  position: relative;
  margin-left: 3%;
  margin-top: 3%;
  z-index: 5;
}
#heading img {
  height: 88%;
    width: 100%;
    position: relative;
}
#heading p {
  font-size: 100%;
}
.card-title {
  background-color: #6a58dc;
  font: bolder;
  color: white;
  padding: 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-title h6 {
  padding: 2px 1rem;
}
#care-profile {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  width: 100%;
  flex-direction: row;
}
#care-profile img {
  width: 100%;
  height: 61%;
  border-radius: 100%;
  background-color: whitesmoke;
}
.progressBar-container {
  display: flex;
}
#care-profile p {
  font-size: 15px;
}
.caretaker-pic{
  width: 40%;
}

#careTaker-Deatils {
  width: 100%;
}
.accordion-body {
  display: flex;
  justify-content: space-around;
  background-color: #f2f1f9;
}
.home-flex-one{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.home-flex-two{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.row-one-chart {
  display: grid;
}
.row-one-chart .chart {
  width: 132px;
  height: 62px;
}
.row-two-chart {
  display: grid;
}
.row-two-chart .chart {
  width: 132px;
  height: 62px;
}
.accordion-body .card {
  border-radius: 20px;
}
.accordion-body .card #circular-chart {
  display: grid;
  justify-content: center;
}
.imgconatiner {
  width: 100%;
    position: relative;
    bottom: -20%;
  
}
#care-progress .card-body {
  width: 200px;
}
.accordion-button {
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
  font-size: 15px;
}
.acc-img img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
#getAssign {
  align-content: flex-end;
}
#toAssign {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  background-color: #f2f1f9;
}
.sidebar {
  background-color: #6a58dc;
  width: 50px;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-radius: 20px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  cursor: pointer;
}
.icon {
  margin-right: 5px;
}
.line {
  margin: 20px;
}
.line h2 {
  font-weight: 700;
}
#home-content {
  display: flex;
  justify-content: space-between;
  background-color: #f2f1f9;
}
.home-col-one {
  display: grid;
}
.home-row-one {
  display: flex;
}
.home-row-one .card {
  background-color: #ded1ef;
  margin-right: 10px;
}
.home-row-one .card .card-body {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px 0px 20px;
}
#dis {
  margin: 10px;
}
.home-row-two {
  display: flex;
}
.home-row-two .card {
  background-color: #ded1ef;
  margin-right: 10px;
}
.home-row-two .card .card-body {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px 0px 20px;
}
.home-col-two .card .card-body {
  width: 250px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.home-col-three .card .card-body {
  width: 220px;
}
.home-col-four .card .card-body {
  width: 220px;
}
.nav {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #6a58dc;
  border-radius: 20px;
  padding-top: 5px;
  justify-content: space-around;
}
.nav-link strong {
  color: black;
  font-size: 20px;
}

/* .nav button{
    background-color: #6a58dc;
    
  } */
.profile-heading {
  display: flex;
  font-size: 15px;
  text-decoration: none;
  width:100%;
}
.profile-heading div {
  
  margin-left: 30px;
}
.ass-user-detail {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.ass-user-detail div {
  
  margin-left: 23px;
}
.ass-user-detail div .btn{
  display: flex;
  justify-content: flex-end;
}
.accordion-item {
  margin-bottom: 10px;
  border-radius: 20px;
}
#ass-name {
  margin-left: 119px;
}
#ass-phno {
  margin-left: 56px;
}
#ass-disease {
  margin-left: 37px;
}

/* -------Responsive ness of Home Page --------*/
@media screen and (max-width: 600px) {
  .main1 .pages {
    padding-left: 0px;
    width: 100%;
    height: 92%;
    margin-right: 0px;
    margin: 0;
  }

  .header {
    width: 100%;
    height: 10vh;
    display: grid;
    justify-content: space-around;
    margin: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
  }
  #heading {
    margin-top: 0;
    margin-left: 0;
    width: auto;
    gap: 0;
    padding: 1vw;
    display: initial;
    position: relative;
    overflow: hidden;
  }
  #heading > div {
    width: 62%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding-left: 2vw;
  }
  strong {
    margin: 0;
    font-size: 0;
  }
  #card1 {
    width: 100%;
    height: 116px;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: hidden;
  }
  #card2 {
    display: none;
  }
  #heading .imgconatiner {
    align-items: flex-end;
    gap: 1vw;
    margin: 0;
    height: 50%;
    position: absolute;
    right: -32px;
    bottom: 20px;
  }
  #heading img {
    height: 153%;
    width: 154%;
  }
  #heading p {
    font-size: 9px;
    line-height: 12px;
  }
  #heading h3 {
    font-size: 18px;
    margin: 0;
    /* text-align: center; */
  }
  #card3 {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  #home-content {
    display: grid;
  }
  #care-profile img {
    width: 60px;
    height: 60px;
    /* margin-top: ;[ */
  }
  .card-title h6 {
    font-size: 13px;
  }
  .content {
    margin-top: 10vh;
  }
  .nav-link strong {
    font-size: 10px;
  }
  .profile-heading {
    width: 100%;
    display: flex;
    font-size: 10px;
    justify-content: center;
    gap: 9vw;
  }
  .profile-heading strong {
    font-size: 10px;
  }
  #ass-name {
    margin-left: 0px;
    margin-right: 0px;
  }
  #ass-phno {
    margin-left: 0px;
    margin-right: 0px;
  }
  #ass-disease {
    margin-left: 0px;
    margin-right: 0px;
  }
  #ass-allergy {
    margin-left: 0px;
    margin-right: 0px;
  }

  #nav-tabContent {
    margin-top: 0px;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
  }

  .ass-user-detail {
    gap: 1vw;
    font-size: 10px;
    width: 70%;
  }

  .ass-user-detail div {
    margin-right: 0px;
    margin-left: 0px;
  }

  .accordion-button {
    padding: 0;
    margin-right: 0;
  }

  .accordion-button button {
    padding: 1vw;
    font-size: 10px;
  }

  #home-content {
    padding: 4px;
    grid-template-rows: 1fr 1fr;
  }

  .home-col-one{
    grid-row: 1/2;
    grid-column: 1/2;
    gap: 1vh;
  }

  #dis strong {
    font-size: 10px;
  }

  .card-body strong {
    font-size: 12px;
  }

  .home-row-one .card .card-body {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    margin-top: 0;
    gap: 0;
}

.card-body .CircularProgressbar {
  width: 65%;
  vertical-align: middle;
}

#dis{
  margin: 0;
}
#dis strong {
  font-size: 6px;
}
#home-content .card{
  width: 100px;
  height: 60px;
  
}

.home-row-two .card .card-body{
  padding: 67px 4px 0px 3px;
  gap: 0;
}

.home-col-two .card .card-body {
  width: 100px;
  height: auto;
  padding: 0px;
  margin-left: 8px;
  margin-right: 0px;
  gap: 0;
  margin-top: 0;
}
#home-content .home-col-two .card{
  width: 100%;
  height: 130px;
}

.card .card-body span{
  font-size: 10px;
}

.home-flex-one{
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.home-flex-two{
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: space-around;
  flex-direction:row;
}
.accordion-body {
  display: block;
  justify-content: space-around;
  flex-direction: column;
  background-color: #f2f1f9;
}
.home-col-three .card-body Table{
  margin: 10px;
}
.home-col-three .card .card-body{
  max-width: fit-content;
  margin-top: 51%;
  margin-left: -55%;
  border-radius: 20px;

}
.home-col-four .card .card-body{
  max-width: max-content;
  margin-top: 58%;
  margin-left: -44%;
  border-radius: 20px;
}
}
@media screen and (max-device-width:1314px) and (min-device-width:768px){
  .home-flex-one{
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .home-flex-two{
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
  }
  .accordion-body {
    display: block;
    justify-content: space-around;
    flex-direction: column;
    background-color: #f2f1f9;
  }
  .home-col-three .card-body Table{
    margin: 10px;
  }
  .home-col-three .card .card-body{
    max-width: 100%;
    margin-top: 4%;
    margin-left: -3%;
    border-radius: 20px;
  
  }
  .home-col-four .card .card-body{
    max-width: 100%;
    margin-top: 8%;
    margin-left: -2%;
    border-radius: 20px;
  }
}
@media screen and (max-device-width:768px) and (min-device-width:600px){
  .main1 .pages{
    padding-left: 0;
  }
  .home-flex-one{
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .home-flex-two{
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
  }
  .accordion-body {
    display: block;
    justify-content: space-around;
    flex-direction: column;
    background-color: #f2f1f9;
  }
  .home-col-three .card-body Table{
    margin: 10px;
  }
  .home-col-three .card .card-body{
    max-width: 100%;
    margin-top: 4%;
    margin-left: -3%;
    border-radius: 20px;
  
  }
  .home-col-four .card .card-body{
    max-width: 100%;
    margin-top: 8%;
    margin-left: -2%;
    border-radius: 20px;
  }
}