/* Please do not give any universal styling */
*{
    margin: 1px;    
}
.nav-bar{
  position:relative;
  z-index: 999;
}
/* --------------------Design for Analytics----------------  */

.main{
    display: flex;
    color:black;
    margin: 2px;
}
.Analytics-pages{
  padding-left: 110px;
  display: flex;
}
.ana-left-side{
    margin: 6px 30px 6px 6px;
}
.ana-right-side{
    background-color: #ebe8fd;
    width: 100%;
    padding: 26px 26px 40px 26px;
    box-sizing: border-box;
    margin-left: 5px;
    border-radius: 51px 0px 0px 51px;
}
.ana-right-card-one{
  padding: 0px;
    height: 344px;
    width: 332px;
    border-radius: 45px;
    margin-top: -13px;
    background-color: white;
    padding-top: 5px;
}
.ana-right-card-two{
  flex: 1;
  padding: 14px;
  margin-top: 20px;
  display: grid;
}
.ana-user{
    display: flex;
    justify-content:space-between;
}
.ana-reminder{
  background-color: white;
  border-radius: 15px;
  height: 300px;
  width: 332px;
  padding-top: 24px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
.ana-user .card{
    margin: 4px;
    border-radius: 30px;
    width: 178px; height: 166px;
    background-image: linear-gradient(#d3cbf7,white);
    transition: 0.5s;
}
.ana-user .card:hover{
  transform: scale(1.05);
  z-index: 2;
  background-image: linear-gradient(#ada0f8,#f0eef9);
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
.ana-user .card  #ana-card-body img{
  width: 58px; height: 59px;
  border-radius: 100%;
}
.ana-user .card #ana-card-body p{
  font-size: 12px;
}
#ana-card-body h6{
  font-size: 20px;
}
#ana-card-body{
  width: 100%; gap: 0px;
}
.ana-chart{
    margin-top:8px ;
    min-width: 100%;
}
.ana-chart .card-body{
  width: 90%;
}
.ana-chart .card{
  border-radius: 21px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}

.ana-left-side .chart .card{
  background: white;
  border-radius: 21px;
  align-items: center;
  width:800px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
.ana-left-side .chart .card .card-body{
  margin: 5px;
}
.ana-select{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/* --------------css of Home page------------------- */

.main1{
  display: flex;
  color:black; margin: 2px;
}
.main1 .pages{
  padding-left: 90px;
}
.header {
  display: flex;
  justify-content: space-between;
}
#card1{
  width:520px; height:200px;
  background-color:#DAD4F7 ; border-radius: 20px;
  margin: 5px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
#card2{
  width: 350px; height: 200px;
  background-color: #cdc8f5; border-radius: 20px;  margin: 5px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
#card3{
  width: 350px; height:200px;
  background-color: #cdc8f5; border-radius: 20px;  margin: 5px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
#heading{
  display: flex;
  margin-top: 3px;
  color: black;
}
#heading img{
  height: 200px;
  width: 289px;
}
#heading p{
  font-size: 15px;
}
.card-title{
  background-color: #6a58dc;
  font: bolder;
  color: white;
  padding: 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-title h6{
  padding: 2px;
}
#profile{
  display: flex;
  justify-content: space-around;
}
#profile img{
  width: 100px; height:100px;
  border-radius: 100%;
}
.progressBar-container{
  display: flex;
}
#profile p{
  font-size: 15px;
}

#careTaker-Deatils{
  margin-top: -100px;
  margin-left: 305px;
}
.accordion-body{
  display: flex;
  justify-content: space-around;
  background-color: #f2f1f9;
}
.row-one-chart{
  display: grid;
}
.row-one-chart .chart{
  width: 132px; height: 62px;
}
.row-two-chart{
  display: grid;
}
.row-two-chart .chart{
  width: 132px; height: 62px;
}
.accordion-body .card{
  border-radius: 20px;
}
.accordion-body .card #circular-chart{
  display: grid;
  justify-content: center;
}
.imgconatiner{
  width: 566px;
  margin-top: -157px;
  margin-left: 240px;
}
#care-progress .card-body{
  width: 200px;
 }
.accordion-button{
  display: flex;
  justify-content:space-evenly;
  margin-right: 50px;
  font-size: 15px;
}
.acc-img img{
  width: 40px; height: 40px;
  border-radius: 100%;
}
#getAssign{
  align-content: flex-end;
}
#toAssign{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.sidebar {
    background-color: #6a58dc;
    width: 50px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 20px;
}
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  .icon {
    margin-right: 5px;
    
  }
  .line{
    margin: 20px;
    
  }
  .line h2{
    font-weight:700 ;
  }

  /* --------Responsive ness of .Analytics-pages-------- */

  @media screen and (max-width:425px) {
  .ana-main{
    width: 100vh;
    height: 100vh;
  }
  .Analytics-pages{
    padding-left: 0px;
    padding-right: 0px;
    margin: 2px;
    display: grid;
  }
  .ana-right-side{
    margin-top: 20px;
    display: flex;
  }
  .ana-select{
    display: flex;
    justify-content: space-around;
  }
  .ana-right-card-two{
    border-radius: 30px;
    margin-left: 24px;
    margin-top: -10px;
  }
  .ana-right-card-one{
    margin-top: 10px;
  }
  .ana-chart .card-body{
    height: 280px;
  }
  .ana-chart .card{
    border: 20px;
    box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
  }
  .ana-user .card{
    height: 190px;
    height:190px;
  }
  
}