*{
    
    /* margin: 2px; */
    
}
.nav-bar{
  
  position:relative;
  z-index: 999;
}
/* --------------------Design for Analytics----------------  */

.main{
    display: flex;
    color:black;
    margin: 2px;
}
.Analytics-pages{
  padding-left: 110px;
  display: flex;
}
.ana-left-side{
    margin: 6px 30px 6px 6px;

}
.ana-right-side{
    background-color: #ebe8fd;
    width: 100%;
    padding: 26px 26px 40px 26px;
    box-sizing: border-box;
    margin-left: 5px;
    border-radius: 51px 0px 0px 51px;

}
.ana-right-card-one{
  padding: 0px;
    height: 344px;
    width: 332px;
    border-radius: 45px;
    margin-top: -13px;
    background-color: white;
    padding-top: 5px;
}
.ana-right-card-two{
  flex: 1;
  padding: 14px;
  height: 332px;
  width: 332px;
  background-color: white;
  border-radius: 15px;
  margin-top: 15px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
.user{
    display: flex;
    justify-content:space-between;
}
.user .card{
    margin: 4px;
    border-radius: 30px;
    width: 178px; height: 166px;
    background-image: linear-gradient(#d3cbf7,white);
    transition: 0.5s;
}
.user .card:hover{
  transform: scale(1.1);
  z-index: 2;
  background-image: linear-gradient(#ada0f8,#f0eef9);
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
.user .card img{
  width: 58px; height: 59px;
  border-radius: 100%;
}
.user .card p{
  font-size: 12px;
}
.chart{
    margin-top:8px ;
    min-width: 100%;
}
.aboutuser{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
}

.aboutuser  .card {
  background-image: linear-gradient(#d3cbf7,white);
    margin: 3px;
    border-radius:21px ;
    width: 390px;height: 260px;
    box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}

.aboutuser .about .card{
  background-image: linear-gradient(#d3cbf7,white);
    margin: 3px;
    border-radius:21px ;
    width: 390px; height: 260px;
    box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
.circle-progress{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.ana-left-side .chart .card{
  background: white;
  border-radius: 21px;
  align-items: center;
  width:800px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15), -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}
.ana-left-side .chart .card .card-body{
  margin: 5px;
}
.select{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.condition{
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
#list ul li{
  list-style-type: none;
}
/* --------------css of Home page------------------- */

.main1{
  display: flex;
  color:black; margin: 2px;
}
.main1 .pages{
  padding-left: 110px;
}
.header {
  display: flex;
  justify-content: space-between;
}
#card1{
  flex: 50; background-color:#c1e2f9 ; border-radius: 20px;
  margin: 3px;
}
#card2{
  flex: 30; background-color: #cdc8f5; border-radius: 20px;  margin: 3px;
}
#card3{
  flex: 20; background-color: #cdc8f5; border-radius: 20px;  margin: 3px;
}
#heading{
  display: flex;
  margin: 0;
  color: black;
}
#heading img{
  height: 150px;
  width: 250px;
}
.card-title{
  background-color: #6a58dc;
  font: bolder;
  color: white;
  padding: 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-title h6{
  padding: 2px;
}
#profile{
  display: flex;
}
#profile img{
  width: 100px; height:100px;
  border-radius: 100%;
}
.accordion-body{
  display: flex;
  justify-content: space-around;
  
}
.accordion-body .card{
  background-image: linear-gradient(#d3cbf7,white);
  border-radius: 20px;

}
.accordion-body .card #circular-chart{
  display: grid;
  justify-content: center;
}
.imgconatiner{
  width: 300px;
}
#progress .card-body{
  width: 200px;
 }
.accordion-button{
  display: flex;
  justify-content:space-evenly;
  margin-right: 50px;
  font-size: 15px;
}
.acc-img img{
  width: 40px; height: 40px;
  border-radius: 100%;
}
#getAssign{
  align-content: flex-end;
}
#toAssign{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.sidebar {
    background-color: #6a58dc;
    width: 50px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 20px;
}
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  .icon {
    margin-right: 5px;
    
  }
  .line{
    margin: 20px;
    
  }
  .line h2{
    font-weight:700 ;
  }


  
  /* -----------design of sidebar----------- */
  .wrapper{
    
    margin: 2px;
}

.sidebar{
    background: #6a58dc;
    color: #fff;
    height: 600px;
    width: 0px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 30px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s ease ;
}
.link:hover{
    background:white;
    border-radius: 5px;
    color: #000;
    transition: all 0.5s ease;
    cursor: default;
}
.active{
    background: white;
    border-left-color: #6a58dc;
    border-left-width: 1px;
    border-radius: 5px;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
  
  
  
  
  
  
  
  