.care-dashboard-container {
    display: flex;
    flex-direction: column;
}

.care-dashboard-row1 {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.welcome-back-card {
    background-color: #DAD4F7;
    width: 50%;
    display: flex;
    flex: 3;
    min-width: 350px;
    padding: 16px 0 0 16px;
    border-radius: 20px;
    box-shadow: 0 8px 8px -4px #7b96b0;
}

.welcome-back-image {
    width: 40%;
    border-radius: 20px;
}

.welcome-back-description {
    margin: 16px 0;
}

.care-dashboard-profile-container,
.care-dashboard-user-update-container {
    width: 20%;
    border-radius: 20px;
    background-color: #DAD4F7;
    min-width: 150px;
    box-shadow: 0 8px 8px -4px #7b96b0;
    flex: 2;
}

.care-dashboard-profile-head,
.care-dashboard-user-update {
    height: 50px;
    border-radius: 20px;
    background-color: #8A79F5;
    color: #fff;
    padding: 8px
}

.care-dashboard-profile-details-profile-container,
.care-dashboard-user-update-content {
    display: flex;
    align-items: center;
    padding: 16px;
    height: calc(100% - 60px);
    gap: 8px
}

.care-dashboard-user-update-content {
    align-items: flex-start;
}

.care-dashboard-profile-details {
    display: flex;
    flex-direction: column;
}

.care-dashboard-profile {
    padding: 10px 18px;
    background-color: white;
    color: black;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50%;
}

.care-dashboard-tabs {
    background-color: #8A79F5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    margin-bottom: 16px
}

.care-dashboard-tab1 {
    cursor: pointer;
    color: #fff;
}

.care-dashboard-tab2 {
    color: #fff;
    cursor: pointer;
}

.active-tab {
    color: #8A79F5;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 20px
}

.care-dashboard-table {
    width: 100%;
    border-collapse: collapse;
}

.care-dashboard-table-head {
    background-color: #f5f5f5;
    font-weight: bold;
}

.care-dashboard-table th,
.care-dashboard-table td {
    border: 1px solid #ddd;
    padding: 0;
    text-align: left;
}

.cell-content {
    margin: 0;
    margin-bottom: 20px;
    height: 70px;
    background-color: #D4CFF4;
    display: block;
    text-align: center;
    font-size: 16px;
    text-wrap: nowrap;
    padding: 20px 8px;
    min-width: fit-content
}

.head-cell-content {
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    color: #6D6A6A;
    font-weight: 500;
}

.care-dashboard-user-row {
    border-radius: 20px;
    max-height: 70px;
}

.taable {
    width: 99.8%;
    color: #000;
}

.care-dashboard-users-list {
    max-width: 89vw;
    overflow-x: auto;
}

.cell-content-2ele {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    font-weight: 600;
    padding-left: 40%
}

.care-dashboard-button-table {
    padding: 2px 4px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
}

.cell-content-action-column {
    padding-left: 30%;
    gap: 8px
}

.see-more-care-dashboard {
    cursor: pointer;
}

.care-dashboard-profile-table {
    width: 30px;
    background-color: white;
    color: black;
    padding: 4px 8px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px
}

.border-radius-left {
    border-radius: 20px 0 0 20px;
}

.border-radius-right {
    border-radius: 0 20px 20px 0;
}

/* For screens 430px and below */
@media (max-width: 460px) {
    .welcome-back-card {
        width: 100%;
        min-width: 200px
    }

    .welcome-back-image {
        height: 90%;
        align-self: flex-end;
    }

    .welcome-back-description {
        font-size: 12px;
    }

    .care-dashboard-row1 {
        flex-wrap: wrap;
    }

    .care-dashboard-tab1 {
        font-size: 14px;
    }

    .care-dashboard-tab2 {
        font-size: 14px;
    }

    .active-tab {
        padding: 5px;
    }

    .cell-content-2ele {
        padding-left: 5%;
        font-size: 12px
    }

    .cell-content-action-column {
        padding-left: 5%
    }

    .cell-content {
        font-size: 12px;
    }
}

/* For screens between 431px and 767px */
@media (min-width: 461px) and (max-width: 767px) {
    .welcome-back-card {
        width: 50%;
    }

    .care-dashboard-row1 {
        flex-wrap: wrap;
    }

    .welcome-back-description {
        font-size: 12px;
    }

    .care-dashboard-profile-name {
        font-size: 16px
    }

    .welcome-back-title {
        font-size: 16px;
    }

    .cell-content-2ele {
        padding-left: 10%
    }

    .cell-content-action-column {
        padding-left: 10%
    }

    .care-dashboard-tab1 {
        font-size: 16px;
    }

    .care-dashboard-tab2 {
        font-size: 16px;
    }

    .active-tab {
        padding: 5px 10px;
    }

    .care-dashboard-users-list {
        max-width: 70vw;
        overflow-x: auto;
    }
}