@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  background: #6a58dc;
  border-radius: 40px;
  padding: 1rem 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: calc(100vh - 4rem);
  /* width: 86px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 5.5vw;
  max-width: 70px;
  /* margin-left: 13px; */
}
.navbar__logo, #user__profile {
  max-width: 50px;
  width: 4vw;
  height: auto;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#user__profile{
  max-height: 50px;
  height: 4vw;
  border-radius: 50%;
  padding: 0.25rem;
  border: 1px solid #b4c8e9;
}
.navbar__logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}
.navbar__menu {
  position: relative;
  list-style: none;
}
.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 5.5rem;
  color: #6a778e;
  transition: 250ms ease all;
}
.navbar__link span {
  position: absolute;
  /* z-index: 9999; */
  left: 100%;
  transform: translate(-3rem);
  margin-left: 1rem;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  background: #6a58dc;
  padding: 0.75rem;
  transition: 250ms ease all;
  border-radius: 17.5px;
}
.navbar__link:hover {
  color: #fff;
}
.navbar:not(:hover) .navbar__link:focus span,
.navbar__link:hover span {
  opacity: 1;
  transform: translate(0);
  left: 100px;
}
.navbar:hover .navbar__link:focus svg,
.navbar__link:hover svg {
  opacity: 1;
  transform: translate(0);
  left: 100px;
  stroke: #6a58dc;
}

.navbar__item:last-child:before {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  background: #fff;
  border-radius: 17.5px;
  transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
}

.navbar__item:hover ~ li:last-child:before {
  opacity: 1;
}

.navbar__item:last-child:hover:before {
  opacity: 1;
  top: 0%;
  animation: gooeyEffect-1 250ms 1;
}

.logout-button {
  cursor: pointer;
}

.navbar__item:first-child:nth-last-child(3):hover ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(3) ~ li:hover ~ li:last-child:before {
  opacity: 1;
}
.navbar__item:first-child:nth-last-child(3):last-child:hover:before,
.navbar__item:first-child:nth-last-child(3) ~ li:last-child:hover:before {
  opacity: 1;
}
.navbar__item:first-child:nth-last-child(3):nth-child(1):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(3)
  ~ li:nth-child(1):hover
  ~ li:last-child:before {
  top: 0%;
  animation: gooeyEffect-1 250ms 1;
}
@keyframes gooeyEffect-1 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__item:first-child:nth-last-child(3):nth-child(2):hover
  ~ li:last-child:before,
.navbar__item:first-child:nth-last-child(3)
  ~ li:nth-child(2):hover
  ~ li:last-child:before {
  top: 33.3333333333%;
  animation: gooeyEffect-2 250ms 1;
}
@keyframes gooeyEffect-2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.navbar__item:first-child:nth-last-child(3):last-child:hover:before,
.navbar__item:first-child:nth-last-child(3) ~ li:last-child:hover:before {
  top: 66.6666666667%;
  animation: gooeyEffect-3 250ms 1;
}
@keyframes gooeyEffect-3 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 425px) {
 
  .navbar {
    top: 99%;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    height: 52px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* padding: 0.5rem 0; */
    /* margin: 0px; */
    /* margin-top: 92px; */
    /* margin-left: 15px; */
    z-index: 99;
    max-width: 98%;
    transform: translateY(-100%);
  }
  .navbar__menu {
    max-width: 45%;
    display: flex;
    flex-direction: row;
  }
  .navbar__link {
    width: 3.5rem;
  }
  
  #user__profile, .navbar__logo {
    margin: 0 auto;
    width: 35px;
  }
  .user__profile{
    height: 35px;
  }
  #user__profile img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
  }
  .navbar__link span {
    position: absolute;
    bottom: 100%;
    transform: translate(-3rem);
    margin-left: -6rem;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    background: #6a58dc;
    padding: 0.75rem;
    transition: 250ms ease all;
    border-radius: 17.5px;
  }

  .navbar__item svg{
    width: 1rem;
    height: 1rem;
    fill: #6a58dc;
    transition: 250ms ease all;
  }

  .navbar__item:last-child:before {
    content: "";
    position: absolute;
    opacity: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 3.5rem;
    height: 3.5rem;
    background: #fff;
    border-radius: 17.5px;
    transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
  }

  .navbar__item:first-child:nth-last-child(3):hover ~ li:last-child:before,
  .navbar__item:first-child:nth-last-child(3)
    ~ li:hover
    ~ li:last-child:before {
    opacity: 1;
  }
  .navbar__item:first-child:nth-last-child(3):last-child:hover:before,
  .navbar__item:first-child:nth-last-child(3) ~ li:last-child:hover:before {
    opacity: 1;
  }
  .navbar__item:first-child:nth-last-child(3):nth-child(1):hover
    ~ li:last-child:before,
  .navbar__item:first-child:nth-last-child(3)
    ~ li:nth-child(1):hover
    ~ li:last-child:before {
    left: 0%;
    animation: gooeyEffect-1 250ms 1;
  }
  @keyframes gooeyEffect-1 {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .navbar__item:first-child:nth-last-child(3):nth-child(2):hover
    ~ li:last-child:before,
  .navbar__item:first-child:nth-last-child(3)
    ~ li:nth-child(2):hover
    ~ li:last-child:before {
    left: 33.3333333333%;
    top: 0%;
    animation: gooeyEffect-2 250ms 1;
  }
  @keyframes gooeyEffect-2 {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .navbar__item:first-child:nth-last-child(3):last-child:hover:before,
  .navbar__item:first-child:nth-last-child(3) ~ li:last-child:hover:before {
    left: 66.6666666667%;
    top: 0%;
    animation: gooeyEffect-3 250ms 1;
  }
  @keyframes gooeyEffect-3 {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(0.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

