* {
  user-select: none;
}

.user__body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.main__content {
  width: 93%;
  margin-right: 0vw;
  height: 95%;
  border-radius: 1rem;
  display: grid;
  background-color: white;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
  margin-left: 8vw;
}

.main__content .boxes {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2rem;
  color: #7192d4;
  font-weight: 600; */
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* .main__content .boxes:hover {
  background-color: #7192d4;
  color: #fff;
} */

#user__welcome {
  display: flex;
  justify-content: space-between;
  grid-column: span 4 / auto;
  grid-row: span 2 / auto;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.detailAllergy {
  font-size: 16px;
  /* margin: 10px; */
}

.aboutUserTitle{
  font-size: 16px;
}

.row-three-dtails-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top:12px
}

#welcome {
  width: 58%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: #000;
  overflow: hidden;
  position: relative;
  background-color: #bdb1ff42;
}

.welcome__text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
  padding: 1rem;
  padding-left: 2vw;
}

.welcome__text h3 {
  font-size: 1.5vw;
  font-weight: 600;
}

.welcome__text p {
  width: 80%;
  font-size: 1vw;
  font-weight: 500;
  opacity: 0.75;
}

.welcome__img__container {
  width: 35%;
  height: 130%;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 0;
  /* margin-bottom: -5%; */
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.welcome__img__container img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-radius: 1rem;
}

#profile {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 1rem; */
  color: #000;
  background-color: #bdb1ff42;
  flex-direction: column;
  /* border: 1px solid red; */
}

#profile h5 {
  font-size: 1.2vw;
  font-weight: 600;
  text-align: left;
  align-self: start;
  background-color: #8a79f5;
  padding: 0.5vw;
  width: 100%;
}

.card-user {
  /* width: 100%;
  height: 100%; */
  display: flex;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
}

.card-profile {
  max-width: 200px;
  max-height: 200px;
  width: 6vw;
  height: 6vw;
  min-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

#profile .card-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-body {
  /* width: 70%;
  height: 100%; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.home-col-two .card-body {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  align-items: start;
}

.card-body h6 {
  font-size: 1vw;
  font-weight: 600;
}

.card-body p {
  font-size: 0.75vw;
  font-weight: 500;
  opacity: 0.75;
}

#right-pane {
  grid-row: span 9 / auto;
  grid-column: span 2 / auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #bdb1ff42;
  border-radius: 1rem 0 0 1rem;
  margin-left: 2vw;
  padding: 10px;
  box-sizing: border-box;
}

#calender {
  width: 85%;
  height: fit-content;
  min-height: 45%;
  display: flex;
  align-items: start;
  /* gap: 1vh; */
  overflow: hidden;
  justify-content: center;
  margin-bottom: 10%
}

/* #calender-container {
} */

#calender-container>div {
  padding-top: 0;
}

#tasks {
  width: 85%;
  /* height: 45%; */
  min-height: 40%;
  position: relative;
  overflow: visible;
  align-items: start;
}

#chart {
  grid-row: span 4 / auto;
  grid-column: span 4 / auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* gap: 1vh; */
}

#chart .chart-heading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 1vw;
}

#chart h5,
#progress h5,
#about__user h5 {
  font-size: 1.2vw;
  font-weight: 600;
  color: #000;
}

#chart .year-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#chart #year-button-container {
  margin-top: 0;
  margin-left: 0;
}

#chart .year-container button {
  width: 130px;
  height: 4vh;
  border: none;
  background-color: #7192d4;
  color: #fff;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
}

#chart .row-one-card-one-dashboard {
  padding: 0px;
  flex: 1;
  width: 100%;
  height: 90%;
  border-radius: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chart .row-one-card-one-dashboard .App {
  width: 80%;
}

#chart .no-bar-graph-data-text {
  font-size: 1vw;
}

#reminder {
  grid-row: span 2 / auto;
}

#bottom-pane {
  grid-column: span 4 / auto;
  grid-row: span 3 / auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#progress {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.progress-details-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
}

.progress-details-container .progress-detail {
  display: flex;
  align-items: center;
  /* width: 25%; */
  gap: 0.75vw;
}

.progress-detail-text {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000;
  opacity: 0.75;
}

#progress .row-three-card {
  width: 100%;
  height: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1vh;
  border-radius: 0;
}

#progress #CircularProgressBar {
  margin-left: 0;
  margin-top: 0;
}

#progress #CircularProgressBar div {
  width: 5vw !important;
  height: 5vw !important;
}

#progress .pro-text {
  font-size: 0.75vw;
  color: #000;
}

#progress .pro-detail {
  gap: 0.5vw;
}

#progress .box-left-top {
  margin-top: 0px;
  height: auto;
}

#about__user {
  width: 50%;
  height: 100%;
  position: relative;
  color: #000;
  flex-direction: column;
  padding: 1vw;
  align-items: start;
  justify-content: start;
  background: linear-gradient(180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(216, 211, 248, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
}

#about__user h3 {
  position: absolute;
  top: 2%;
  font-size: 2rem;
}

#about__user .disease__info {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 1vw;
  align-items: center;
  /* padding: 1vw; */
  margin-top: 1vw;
  /* border: 1px solid red; */
}

#about__user .disease__info .user-disease {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 1vw; */
  align-items: center;
}

.user-disease:nth-last-child(1) {
  border-left: 1px solid gray;
}

#about__user .disease__info .user-disease h6 {
  font-size: 1.1rem;
  font-weight: 600;
}

#about__user .disease__info .user-disease p {
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.75;
}

#about__user .no-progress {
  width: 100%;
}

#about__user #about-img-div {
  width: 30vh;
  height: auto;
}

#profile {
  grid-row: span 2 / auto;
}

#user-mini-nav {
  position: absolute;
  top: -3.8vh;
  left: 0;
  width: 100%;
  /* height: 5vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1vw;
}

#tasks .right-card-two {
  width: 100%;
  background-color: white;
  border-radius: 0;
  /* margin-top: 2vh; */
  box-shadow: initial;
  margin-left: 0;
  margin-top: 0;
}

#tasks .no-reminders-container {
  gap: 2vh;
  font-size: 1vw;
}

.no-reminders-image {
  width: 60%;
  max-height: 60%;
}

#tasks>div:last-child {
  width: 100%;
  height: 100%;
  overflow: overlay;
}

#user__welcome>.care-profile-card {
  display: flex;
  min-width: 200px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#d3cbf7, white);
  transition: 0.5s;
  border-radius: 1vw;
  margin-right: 10px;
  margin-left: 10px
}

#user__welcome>.care-profile-card:hover {
  transform: scale(1.05);
  z-index: 2;
  background-image: linear-gradient(#ada0f8, #f0eef9);
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15),
    -1.95px -1.95px 2.6px rgba(0, 0, 0, 0.15);
}

#img-body {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  overflow: hidden;
}

#img-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reminder-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.type-container {
  overflow: overlay;
}

@media (max-width: 1024px) {
  .user__body .navbar {
    /* width: 55px; */
    margin-left: 0;
    left: 1vw;
  }

  .row-three-card {
    margin-left: 0px;
    margin-right: 0px;
  }

  #chart .no-bar-graph-data-text {
    font-size: 1vw;
  }

  #about__user #about-img-div {
    width: 35vh;
  }

  /* .welcome__img__container {
    bottom: -2vh;
  } */
  #chart .year-container button {
    height: 25px;
  }
}

.home-row-one .card-body div:nth-child(2) div {
  width: 100px !important;
  height: 100px !important;
}

@media (max-width: 425px) {
  .user__body {
    width: 100vw;
    height: 100vh;
    /* background-color: #eaeef6; */
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
  }

  .main__content {
    width: 95%;
    margin-right: 0;
    margin-top: 1vh;
    height: 90%;
    border-radius: 1rem;
    display: grid;
    /* background-color: #7192d4; */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
  }

  #user__welcome {
    grid-column: span 6 / auto;
    grid-row: span 1 / auto;
  }

  #welcome {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .welcome__text h3 {
    font-size: 1.2rem;
  }

  .welcome__text p {
    font-size: 0.75rem;
    display: initial;
  }

  #profile {
    display: none;
  }

  #chart {
    grid-column: span 6 / auto;
    grid-row: span 1 / auto;
    order: 2;
  }

  #bottom-pane {
    grid-column: span 6 / auto;
    grid-row: span 1 / auto;
    order: 3;
  }

  #progress {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .progress-details-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .progress-details-container .progress-detail {
    gap: 0.25rem;
  }

  .progress-detail-text {
    font-size: 0.35rem;
  }

  #about__user {
    width: 45%;
    height: 100%;
  }

  #about__user .disease__info .user-disease h6 {
    font-size: 0.75rem;
  }

  #about__user .disease__info .user-disease p {
    font-size: 0.45rem;
  }

  #about__user h3 {
    position: absolute;
    top: 2%;
    font-size: 1rem;
  }

  #right-pane {
    grid-column: span 6 / auto;
    grid-row: span 1 / auto;
    order: 4;
    flex-direction: row;
    box-sizing: border-box;
  }

  #calender {
    width: 45%;
    height: 100%;
  }

  #tasks {
    width: 45%;
    height: 100%;
  }

  #chart .year-container button {
    height: 15px;
    width: 12vw;
    font-size: 1.5vw;
  }

  #chart h5,
  #progress h5,
  #about__user h5 {
    font-size: 3vw;
    padding-left: 1vw;
  }

  #chart .row-one-card-one-dashboard {
    width: 90%;
  }

  #chart .no-bar-graph-data-text {
    font-size: 2vw;
  }

  #progress #CircularProgressBar div {
    width: 16vw !important;
    height: 16vw !important;
  }

  .cirlce-pro-one {
    width: 8px;
    height: 8px;
    border-radius: 50px;
    /* background-color: #fff; */
  }

  .pro-percetage {
    font-size: 12px;
  }

  #progress .pro-text {
    font-size: 1.75vw;
  }

  .edit-profile-button {
    padding: 2px 10px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 600;
  }

  .no-progress-image {
    width: 85%;
    object-fit: cover;
  }

  #calender {
    width: 54%;
  }

  .css-1rtg91x-MuiDateCalendar-root {
    width: 185px !important;
    height: 285px !important;
  }

  .css-1aqny2q-MuiPickersCalendarHeader-root {
    margin-top: 8px !important;
    margin-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
  }

  .css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    margin: 0 !important;

    font-size: 0.55rem !important;
    width: 22px !important;
    height: 30px !important;
    margin: 0 2px !important;
  }

  .css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root {
    width: 32px !important;
    height: 32px !important;

    /* margin: 0 2px; */
  }

  .css-cyfsxc-MuiPickersCalendarHeader-labelContainer {
    font-size: 13px !important;
  }

  #tasks .no-reminders-container {
    font-size: 2vw;
  }

  .no-reminders-image {
    width: 100%;
  }

  #user-mini-nav {
    position: absolute;
    top: 0;
  }

  #user-mini-nav .card-center-details-links button {
    font-size: 8px !important;
  }

  .des-option-icon {
    padding-right: 5px;
  }
}