*{
    color:black;
    margin: 3px;
}
/* --------------------Design for Analytics----------------  */
.card{
    background: #d3cbf7;
    border-radius:30px ;
}
.main{
    display: flex;
    
}
.Analytics-pages{
  display: flex;
}
.left-side{
    margin: 4px;
    flex:60;
}
.right-side{
    margin: 4px;
    flex: 40;
}
.user{
    display: flex;
    justify-content: space-around;
}
.user .card{
    margin: 4px;
    border-radius: 30px;
    width: 150px; height: 150px;
    background:#d3cbf7;
}
.chart{
    margin-top:8px ;

}
.aboutuser{
    display: flex;
    justify-content: space-around;
}
.aboutuser .progress {
    background:#b3a7f8;
    margin: 3px;
    border-radius:30px ;
    width: 300px; height: 200px;
}
.aboutuser .about{
    background:#b3a7f8;
    margin: 3px;
    border-radius:30px ;
    width: 300px; height: 200px;
}

/* --------------css of Home page------------------- */

.main1{
  display: flex;
}

.main1 .card{
    width:100%;
    background-color: #c1e2f9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px;
}
.main1 .card .card-body{
    flex: 80;
}
.main1 .card .img{
    flex:20;
}
.main1 .img img{
    width: 80%;
}
.main1 .box{
    display: flex;
}
.main1 .box .box-right{
    flex: 40;
}
.main1 .box .box-left{
    flex: 60;
}
.sidebar {
    background-color: #6a58dc;
    width: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 10px;
}
.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  .icon {
    margin-right: 5px;
    
  }
  .main1   .box{
    display: flex;
  }
  .main1   .box-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .main1   .box-left-top{
    display: flex;
    justify-content: space-around;
    background-color: #cdc8f5;
    border-radius: 10px;
    margin: 3px;
    
  }
  .main1   .box-left-down{
    display: flex;
  }
  .main1   .box-left-down .box-left-down-left{
    flex: 60;
    background-color:white;
    border-radius: 10px;
    margin: 5px;
  }
  .main1 .box-left-down .box-left-down-right{
    flex: 40;
  }
  .main1 .box-left-down-right{
    background-color: white;
    border-radius: 10px;
  }
  .main1 .accordion-body{
    background-color: #e0dcf8;
  }
  .main1 .box-left-top .div{
    background-color: #cec9f5;
    border-radius: 10px;
  }
  .main1 .accordion-item {
    margin-bottom: 20px;
  }
  .main1 .box-right{
    background-color: white;
    border-radius:10px ;
    margin: 2px;
  }
  
  
  .progress-bars {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .progress-bar {
    width: 10%;
  }
  
  .progress-bar span {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
  }
  
  .progress-label {
    margin-bottom: 5px;
  }
  
  
  
  
  
  
  
  