.add-page-container {
    width: 1100px;
    height: 710px;
    margin-top: 13px;
    margin-left: 35px;
  }
  .dropdown-container-left{
    margin-left: 10px;
}
  .dropdown {
    margin-bottom: 15px;
  }
  
  .dropdown-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #6A58DC;
    cursor: pointer;
  }
  .dropdown-content {
    padding: 20px;
    display: flex;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 10px;
    background-color: #E0DCF8;
  }
   #heading{
    color: white;
    text-align: left;
    margin-left: 10px;
}
#right-input{
    width: 450px;
    height: 91px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.dropdown-container-right{
    margin-left: 45px;
}
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  input {
    width: 450px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  #down-row-feild{
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  #End-date-input input{
    margin-top: 10px;
  }
#catogry-inputs {
  margin-top: 10px;
}
.catogry-feilds-right{
  margin-top: 53px;
}
