@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: "Poppins-Regular";
  color: #333;
  font-size: 13px;
  margin: 0;
}

.page-container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: flex-start;
  padding: 24px 20px;
  overflow-y: scroll;
}

.page-content {
  display: flex;
  margin-left: 100px;
  width: calc(100%-100px)
}

.large-bold {
  font-size: 20px;
  font-weight: 600;
}

.medium-normal {
  font-size: 16px;
  font-weight: 500;
}

.medium-bold {
  font-size: 16px;
  font-weight: 600;
}

.small-normal {
  font-size: 12px;
  font-weight: 500;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 600
}

@media (max-width: 460px) {
  .page-container {
    /* flex-direction: column-reverse; */
    justify-content: space-between;
    padding: 20px
  }

  .page-content {
    margin-left: 0px;
   margin-bottom: 60px
  }

  .title {
    font-size: 16px;
  }
}